:root {
  /* background-image: linear-gradient(180deg, #73ecf5ad, #0eaeb9); */
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: rgb(0, 218, 145);
}

body {
  height: auto;
}

.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10rem;
}

.container .form-box {
  width: 60%;
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2rem;
}

.container h1 {
  color: #252525;
  font-size: 3.5rem;
  padding-top: 2rem;
}

.container p {
  color: #151515;
  font-size: 2rem;
  padding-top: 2rem;
}

.container .form-box {
  position: relative;

}

.container .form-box input {
  position: relative;
  width: 80%;
  height: 72px;
  border-radius: 5px;
  padding: 2rem;
  border: 10px solid #ffc402;
  outline: none;
  font-size: 2rem;
  text-align: center;
  color: #353535;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.397), inset 0 0 5px rgba(0, 0, 0, 0.37);
  z-index: 10;

}

.container .form-box input::placeholder {
  font-size: 1.5rem;
}

.container .form-box .result {
  position: absolute;
  width: 80%;
  /* min-height: 500px; */
  top: 65px;
}

.container .form-box .result-item {
  position: relative;
  width: 80%;
  height: 70px;
  left: calc(50% - 40%);
  background-color: #f5f5f5;
  border-bottom: 1px solid #D8D8D8;
  cursor: pointer;
  transition: background 0.2s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.37);
  margin: 0;
  padding: 20px;
  top: 23px;
  font-size: 2rem;
  opacity: 0;
  z-index: 1;
}

.container .form-box .result-item:hover {
  background-color: #a5a5a5;
}

.container .form-box .result-item:nth-child(even) {
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
  background: linear-gradient(to bottom,  #ffffff 0%,#EFEFEF 100%);
  transition: all 0.25s;
}

.container .form-box .result-item:nth-child(odd) {
  transform: perspective(100px) rotateX(-3deg) translateY(3px);
  background: linear-gradient(to top,  #ffffff 0%,#EFEFEF 100%);
  transition: all 0.25s;
}

.container .form-box .result-item:hover {
  background: linear-gradient(to top,  #a7f2ff 0%,#ffffff 100%);
  transition: all 0.25s;
}
/* 
.container .form-box .result-item div[class^=fade] {
  color: blue;
  animation: fade 0.25s;
} */

.hidden {
  display: none;
}

@keyframes fade {
  0% {
    opacity: 0.5;
    top: 15px;
  }
  100% {
    opacity: 1;
    top: 20px;
  }
}